.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
}

.bio {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  margin-bottom: 2rem;
}

.bio-entry {
  text-align: center;
  margin: 0.75rem 2rem;

  flex: 0 32%;
}

@media only screen and (max-width: 600px){
  .bio-entry {
    flex: 0 50%;
  }
}
