.about-me-panel {
  font-size: 20px;

  display: flex;
  flex-direction: column;
}

.about-me-img {
  height: 125px;
  width: 125px;

  border-radius: 100%;

  margin: 0.75rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.projects-panel {
  margin: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-me-panel {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 1rem;
}

.contact-me-err-dark {
  color: silver;
}

.contact-me-err-light {
  color: red;
}
